.header{
    display: flex;
    max-width: 100%;
    height: 69px;
    align-items: center;
    padding-left: 1.1em;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.8em;
    background-color: #F8F9FA;
    
}

@media (min-width: 1000px){
    .header{
        padding: 0;
        margin: 0 auto;
        width: 100%;
        background-color: #F8F9FA;
        max-width: 1200px;
        margin-bottom: 2em;
    }

    .img{
        margin-left: 8.5em;
        max-width: 1200px;
        width: 100%;
    }
}