ul {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
    max-width: 320px;
}

.resumo{
    margin: 0 auto;
    width: 80%;
    font-size: 1em;
    max-width: 320px;
    margin-bottom: 1em;
    margin-top: 1em;
    
}

.lançamento{
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
    max-width: 320px;
    text-align: start;
}

@media (min-width: 1000px){
    #root{
     width: 100vw;
     margin: 0 auto;
    
    }

    .App{
        max-width: 1200px;
        margin: 0 auto;
    }

    .contanier{
        margin: 0 auto;
        width: 100%;
        display: flex;
        gap: 3em;
        justify-content: center;
    }

    .contanier_form{
      width:30%;
    }

    .contanier_list{
        width: 40%;
    }
    
    .resumo{
        margin-top: 0;
    }

    ul{
        max-width: 100%;
    }
    
}